SUPABASE_URL=https://vemeyobpbjtmbyrceoxh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlbWV5b2JwYmp0bWJ5cmNlb3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjcwNjY4NSwiZXhwIjoyMDY4MjgyNjg1fQ.CQVWpjFGvkGIQcvcOAdTaAbr8fnL20m0Nz0kANmbg10